.MenuSection {
  display: flex;
  justify-content: center;
}
.MenuContainer {
  display: flex;
  justify-content: space-between;
  width: 120rem;
}
.Menu {
  display: flex;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  line-height: 3.2rem;
}
